body{
    margin:0;
    padding: 0;
    background: url('../images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.container{
    padding-bottom: 3rem;
    height: auto;
    height: calc(100vh - 60px);
}

.navbar{
    padding-top: 2rem;
}

.navbar a, .navbar ul{
    color: #fff !important;
}


.navbar-toggler {
    border-color: rgb(255,255,255);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

#landingpage{
    margin-top: 25vh;
    text-align: center;
}
#landingpage h3{
    text-transform: capitalize;
    left: 0;
}

hr{
    border: 1px solid #cecece;
    width: 30%;
}
.landing-name h1{
    font-size: 5rem;
    text-transform: uppercase;
    
}

footer h6{
    padding: 15px;
}

footer{
    text-align: center;
    height:60px;
    margin: 0;
    padding: 0;
}

/* media queries */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    #landingpage{
        margin-top: 15vh;
    }
    .landing-name h1{
        font-size: 3rem;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 992px) {
    #landingpage{
        margin-top: 20vh;
    }
    .landing-name h1{
        font-size: 4rem;
    }
 }

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
